.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em;
}

h2, p {

    margin-bottom: 1em;


}

.about a {
    background-color: white;
    border: 2px solid #dec129;
    padding: 0.5em;
}